/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ADDITIONS TO RESET */
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  button:hover {
    cursor: pointer; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px; }

[class*="header"] {
  display: block;
  color: #061C37; }

[class*="header"].light,
[class*="paragraph"].light {
  color: #FFFFFF; }

[class*="header"].secondary,
[class*="paragraph"].secondary {
  color: #BBBBBB; }

.header--lg {
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 2.3125rem; }
  @media screen and (max-width: 67rem) {
    .header--lg {
      font-size: 3.125rem; } }
  @media screen and (max-width: 33.75rem) {
    .header--lg {
      font-size: 1.875rem; } }

.header--md {
  font-size: 2.25rem;
  font-weight: 500; }
  @media screen and (max-width: 67rem) {
    .header--md {
      font-size: 1.875rem;
      max-width: 43.75rem; } }
  @media screen and (max-width: 33.75rem) {
    .header--md {
      font-size: 1.125rem; } }

.header--sm {
  font-size: 1.1875rem;
  font-weight: 600;
  margin-bottom: 3.375rem;
  text-transform: uppercase; }
  @media screen and (max-width: 67rem) {
    .header--sm {
      font-size: 1rem;
      margin-bottom: 1.6875rem; } }
  @media screen and (max-width: 33.75rem) {
    .header--sm {
      font-size: 0.875rem; } }

.header--strong {
  font-weight: 800; }

[class*="paragraph"] {
  color: #061C37; }

.paragraph--md {
  font-size: 1.375rem;
  line-height: 1.3; }
  @media screen and (max-width: 33.75rem) {
    .paragraph--md {
      font-size: 1.125rem; } }

[class*="btn"] {
  background-color: #F9AC48;
  text-transform: uppercase;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in;
  border: none;
  text-decoration: none; }
  [class*="btn"]:focus, [class*="btn"]:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    outline: none; }
  [class*="btn"]:active {
    transform: scale(0.98); }

.btn--primary {
  padding: 1.25rem 1.5rem 1.3125rem 1.5rem;
  font-size: 1.1875rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  color: #FFFFFF; }

.btn--secondary {
  padding: 0.75rem 0.6875rem 0.8125rem 0.6875rem;
  font-size: 0.75rem;
  letter-spacing: 0.00625rem;
  color: #061C37; }

.ruler {
  display: block;
  width: 2px;
  height: 9.375rem;
  background-color: #061C37;
  margin-bottom: 2.375rem; }
  @media screen and (max-width: 67rem) {
    .ruler {
      height: 3.125rem; } }

.ruler.light {
  background-color: #FFFFFF; }

.ruler.thin {
  width: 1px; }

.nav {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  left: 50%;
  transform: translateX(-50%);
  max-width: 83.5625rem;
  width: 100%;
  padding-top: 3.25rem;
  padding-right: 3.25rem; }

.nav_items {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: auto; }

.nav__item {
  display: inline-block;
  list-style-type: none;
  color: #FFFFFF;
  text-transform: uppercase; }
  .nav__item:not(:first-of-type)::before {
    content: '|';
    display: inline-block;
    margin: 0 0.625rem; }
  .nav__item a {
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.1s ease-in; }
  .nav__item a:hover {
    color: #F9AC48;
    text-decoration: underline; }

@media screen and (max-width: 40rem) {
  .nav {
    justify-content: center;
    left: initial;
    transform: none;
    padding-right: 0; } }

@media screen and (max-width: 28.125rem) {
  .nav {
    display: none; } }

@media screen and (max-width: 40rem) {
  .nav_items {
    margin-left: initial;
    text-align: center; } }

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: max-content;
  background-color: #000000;
  text-align: center;
  overflow: hidden; }
  .hero h1 {
    position: relative; }

.hero__logo {
  width: 19.3125rem;
  height: auto;
  margin-top: 1.5625rem;
  margin-bottom: 9.875rem; }

.hero__cta {
  position: relative;
  margin-top: 8.625rem; }

.hero__arrow {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  width: 1.9375rem;
  height: auto;
  transform: translateX(-50%);
  animation: float 1s infinite alternate ease-in-out; }

@keyframes float {
  from {
    transform: translateX(-50%) translateY(0); }
  from {
    transform: translateX(-50%) translateY(-0.625rem); } }

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
  .hero__bg img {
    height: 100%; }
  .hero__bg::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #2493e2;
    opacity: 0.2; }

@media screen and (max-width: 67rem) {
  .hero {
    height: 80vh;
    padding: 1.25rem; } }

@media screen and (max-width: 67rem) {
  .hero__logo {
    width: 16.875rem;
    margin-bottom: 3.125rem; } }

@media screen and (max-width: 67rem) {
  .hero__cta {
    margin-top: 3.125rem; } }

@media screen and (max-width: 67rem) {
  .hero__arrow {
    display: none; } }

.about {
  background-color: #FFFFFF;
  padding-left: 2.5rem;
  padding-right: 2.5rem; }
  @media screen and (max-width: 67rem) {
    .about {
      padding-left: 1.875rem;
      padding-right: 1.875rem; } }

.about__content {
  width: 100%;
  max-width: 80.3125rem;
  margin: 0 auto; }

.about__details {
  display: flex;
  justify-content: space-between;
  margin-top: 6.125rem;
  padding-bottom: 8.625rem; }
  @media screen and (max-width: 67rem) {
    .about__details {
      flex-wrap: wrap;
      margin-top: 2.5rem;
      padding-bottom: 3.375rem; } }

.about__detail {
  display: flex;
  flex: 1 1 0; }
  .about__detail :first-child {
    flex: 0 0 0;
    margin-right: 1.875rem; }
  .about__detail :last-child {
    flex: 1 1 0; }
  .about__detail + .about__detail {
    margin-left: 2.375rem; }
  .about__detail img {
    width: 6.25rem;
    height: 6.25rem;
    object-fit: contain; }
  @media screen and (max-width: 67rem) {
    .about__detail {
      flex: 0 1 100%; }
      .about__detail + .about__detail {
        margin-left: initial;
        margin-top: 2.5rem; }
      .about__detail p {
        max-width: 34.375rem; } }

.partners {
  background-color: #0f1c2f;
  padding: 0 2.5rem 9.75rem 2.5rem; }
  @media screen and (max-width: 67rem) {
    .partners {
      padding: 0 2.5rem 3.625rem 2.5rem; } }

.partners__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 80.3125rem;
  margin: 0 auto; }

.partners__header {
  flex: 1 1 100%;
  text-align: center; }

.partners__logos {
  display: flex;
  margin: 0.625rem auto 0;
  align-items: center;
  justify-content: space-between;
  max-width: 60.125rem; }
  .partners__logos li {
    padding: 0 1.25rem; }
  .partners__logos img {
    width: 100%; }

.partners__details {
  display: flex;
  justify-content: space-between;
  margin-top: 4.375rem;
  color: #F9AC48; }
  .partners__details img {
    width: 100%;
    max-width: 10.8125rem; }
  .partners__details > p {
    position: relative;
    display: inline-block;
    margin-right: 2.5rem;
    flex: 0 0 14rem;
    line-height: 1.5; }
    .partners__details > p::before {
      content: '';
      position: absolute;
      display: block;
      width: 6.25rem;
      height: 6.25rem;
      border-top: 1px solid #F9AC48;
      border-left: 1px solid #F9AC48;
      transform: translateX(-1rem) translateY(-0.8125rem); }
  .partners__details span {
    font-style: italic;
    font-weight: 600; }
  .partners__details div {
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    flex: 1 0 0;
    text-align: center;
    padding-top: 2.5rem; }
  .partners__details div:last-of-type {
    flex: 0 0 auto;
    padding-left: 2.3125rem; }
  .partners__details div:last-of-type p {
    max-width: 14.625rem;
    display: block;
    margin: 0 auto; }
  .partners__details div:last-of-type p:first-of-type {
    margin-top: 1.25rem; }

.partners__details-title {
  margin-top: 1.25rem;
  text-transform: uppercase;
  font-size: 1.3125rem;
  letter-spacing: 0.0125rem; }

@media screen and (max-width: 67rem) {
  .partners__details {
    flex-wrap: wrap; }
    .partners__details > :first-child {
      flex: 1 0 100%;
      margin-bottom: 3.75rem; }
    .partners__details > :nth-child(2) {
      border: none; }
    .partners__details img {
      width: 80%; }
    .partners__details > div {
      padding-left: 0.625rem;
      padding-right: 0.625rem; }
    .partners__details > div:first-of-type {
      padding-left: 0; }
    .partners__details > div:last-of-type {
      flex: 1 0 0;
      padding-left: 0.625rem;
      padding-right: 0; } }

@media screen and (max-width: 75rem) {
  .partners__details div {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  .partners__details div:last-of-type {
    flex: 1 0 0; } }

@media screen and (max-width: 38.75rem) {
  .partners__details > :first-child {
    margin-bottom: 1.25rem; }
  .partners__details > div {
    flex: 1 0 100%;
    border-left: none;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    padding-top: 1.25rem;
    margin-top: 1.25rem; }
    .partners__details > div img {
      width: 30%; } }

@media screen and (max-width: 67rem) {
  .partners__logos {
    max-width: 70vw; } }

@media screen and (max-width: 38.75rem) {
  .partners__logos {
    max-width: 90vw; } }

@media screen and (max-width: 26.25rem) {
  .partners__logos {
    max-width: 100vw; }
    .partners__logos li {
      padding: 0 0.3125rem; } }

.projects {
  background-color: #FFFFFF;
  padding-bottom: 11.75rem; }

.project__content {
  width: 100%;
  max-width: 80.3125rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: center; }

.projects__header {
  flex: 1 0 100%; }

.projects__list {
  max-width: 64.0625rem;
  margin: 5.25rem auto 0;
  padding: 4.5rem;
  box-shadow: 0 0 1.125rem 0.4375rem rgba(0, 0, 0, 0.03);
  text-align: left; }

.projects__item {
  position: relative;
  display: flex;
  flex-direction: row-reverse; }
  .projects__item + .projects__item {
    margin-top: 4.5625rem;
    padding-top: 4.5625rem; }
  .projects__item + .projects__item::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #ffffff 0%, #ffffff 20%, #e6e6e6 20%, #e6e6e6 80%, #ffffff 80%, #ffffff 80%, #ffffff 100%); }

.projects__preview {
  display: flex;
  flex-direction: column; }

.projects__thumbnail {
  transition: all 0.1s ease-in; }
  .projects__thumbnail:hover {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.05); }
  .projects__thumbnail img {
    display: block;
    max-width: 25.75rem; }

.projects__details {
  margin-left: 1.875rem;
  padding-top: 0.625rem;
  font-size: 1.3125rem;
  color: #202020;
  line-height: 1.5; }
  @media screen and (max-width: 33.75rem) {
    .projects__details {
      font-size: 1rem; } }

.projects__title {
  font-size: 1.1875rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-transform: uppercase; }
  @media screen and (max-width: 33.75rem) {
    .projects__title {
      font-size: 1.125rem; } }

.projects__subtitle {
  font-weight: 600;
  color: #050a40;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; }

.projects__stars {
  display: flex;
  align-items: center;
  width: 3.75rem;
  justify-content: space-between;
  color: #9ea2a6;
  font-weight: 700;
  margin-right: 1.125rem; }
  .projects__stars img {
    width: 1.375rem; }

.projects__stats {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.125rem; }

.projects__cta {
  border-radius: 50%;
  border: 2px solid #F9AC48;
  padding: 0.1875rem 0.25rem 0.125rem;
  transition: all 0.1s ease-in; }
  .projects__cta img {
    max-width: 0.8125rem;
    transition: all 0.1s ease-in; }
  .projects__cta:hover {
    border-color: #da9132; }
    .projects__cta:hover img {
      transform: scale(0.7); }

@media screen and (max-width: 67rem) {
  .projects {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-bottom: 3.625rem; } }

@media screen and (max-width: 67rem) {
  .projects__list {
    padding: 0 0 1.875rem 0;
    margin: 3.75rem auto 0; } }

@media screen and (max-width: 67rem) {
  .projects__item + .projects__item {
    margin-top: 1.875rem;
    padding-top: 1.875rem; } }

@media screen and (max-width: 40.625rem) {
  .projects__item {
    flex-direction: column-reverse; } }

@media screen and (max-width: 67rem) {
  .projects__thumbnail img {
    width: 100%;
    max-width: none; } }

@media screen and (max-width: 67rem) {
  .projects__details {
    flex: 1 0 0; } }

@media screen and (max-width: 64.1875rem) {
  .projects__details {
    padding-right: 1.875rem; } }

@media screen and (max-width: 40.625rem) {
  .projects__details {
    margin-top: -1.875rem; } }

@media screen and (max-width: 26.25rem) {
  .projects__details {
    margin-top: 0.625rem; } }

@media screen and (max-width: 40.625rem) {
  .projects__stats {
    padding-right: 1.875rem; } }

@media screen and (max-width: 26.25rem) {
  .projects__stats {
    display: none; } }

@media screen and (max-width: 67rem) {
  .projects__preview {
    flex: 1 0 0; } }

footer {
  padding-bottom: 17rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  background-color: #0f1c2f; }
  footer p + p {
    margin-top: 1.875rem; }
  footer > div {
    width: 100%;
    max-width: 80.3125rem;
    margin: 0 auto; }
  @media screen and (max-width: 67rem) {
    footer {
      padding-left: 1.875rem;
      padding-right: 1.875rem;
      padding-bottom: 7.25rem; } }

.footer_contents {
  display: flex;
  align-items: center; }
  .footer_contents > :last-child {
    margin-left: 6.25rem; }
  @media screen and (max-width: 67rem) {
    .footer_contents {
      flex-direction: column; }
      .footer_contents > :first-child {
        margin-bottom: 1.875rem; }
      .footer_contents > :last-child {
        margin-left: 0; } }
