@import "utilities";

[class*="btn"] {
    background-color: $sun;
    text-transform: uppercase;
    border-radius: rem-calc(4);
    transition: all 0.1s ease-in;
    border: none;

    &:focus,
    &:hover {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.3);
        outline: none;
    }

    &:active {
        transform: scale(0.98);
    }
}

.btn--primary {
    padding: rem-calc(20) rem-calc(24) rem-calc(21) rem-calc(24);
    font-size: rem-calc(19);
    font-weight: 700;
    letter-spacing: rem-calc(1);
    color: #FFFFFF;
}

.btn--secondary {
    padding: rem-calc(12) rem-calc(11) rem-calc(13) rem-calc(11);
    font-size: rem-calc(12);
    letter-spacing: rem-calc(0.1);
    color: $midnight;
}
