@import "_utilities.scss";

footer {
    padding-bottom: rem-calc(272);
    padding-left: rem-calc(30);
    padding-right: rem-calc(30);
    background-color: $space;
    background-image: url('images/footer_bg.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;

    p + p {
        margin-top: rem-calc(30);
    }

    > div {
        @include layoutMax;
        margin: 0 auto;
    }

    @media screen and (max-width: rem-calc(1072)) {
        padding-left: rem-calc(30);
        padding-right: rem-calc(30);
        padding-bottom: rem-calc(116);
    }
}

.footer_contents {
    display: flex;
    align-items: center;
    > :last-child {
        margin-left: rem-calc(100);
    }

    @media screen and (max-width: rem-calc(1072)) {
        flex-direction: column;
        > :first-child {
            margin-bottom: rem-calc(30);
        }
        > :last-child {
            margin-left: 0;
        }
    }
}
