@import "utilities";

.nav {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    left: 50%;
    transform: translateX(-50%);
    max-width: rem-calc($layout-max-width + 52);
    width: 100%;
    padding-top: rem-calc(52);
    padding-right: rem-calc(52);
}

.nav_items {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: rem-calc(20);
    font-weight: bold;
    margin-left: auto;
}

.nav__item {
    display: inline-block;
    list-style-type: none;
    color: #FFFFFF;
    text-transform: uppercase;

    &:not(:first-of-type)::before {
        content: '|';
        display: inline-block;
        margin: 0 rem-calc(10);
    }

    a {
        color: #FFFFFF;
        text-decoration: none;
        transition: all 0.1s ease-in;
    }

    a:hover {
        color: $sun;
        text-decoration: underline;
    }
}

// RESPONSIVE TREATMENTS:

.nav {
    @media screen and (max-width: rem-calc(640)) {
        justify-content: center;
        left: initial;
        transform: none;
        padding-right: 0;
    }
}

.nav_items {
    @media screen and (max-width: rem-calc(640)) {
        margin-left: initial;
        text-align: center;
    }
}
