@import "utilities";

[class*="header"] {
    display: block;
    color: $midnight;
}

[class*="header"].light,
[class*="paragraph"].light {
    color: #FFFFFF;
}

[class*="header"].secondary,
[class*="paragraph"].secondary {
    color: $stone;
}

.header--lg {
    font-size: rem-calc(72);
    font-weight: 600;
    margin-bottom: rem-calc(37);

    @media screen and (max-width: rem-calc(1072)) {
        font-size: rem-calc(50);
    }

    @media screen and (max-width: rem-calc(540)) {
        font-size: rem-calc(30);
    }
}

.header--md {
    font-size: rem-calc(36);
    font-weight: 500;

    @media screen and (max-width: rem-calc(1072)) {
        font-size: rem-calc(30);
        max-width: rem-calc(700);
    }

    @media screen and (max-width: rem-calc(540)) {
        font-size: rem-calc(18);
    }
}

.header--sm {
    font-size: rem-calc(19);
    font-weight: 600;
    margin-bottom: rem-calc(54);
    text-transform: uppercase;
    @media screen and (max-width: rem-calc(1072)) {
        font-size: rem-calc(16);
        margin-bottom: rem-calc(27);
    }

    @media screen and (max-width: rem-calc(540)) {
        font-size: rem-calc(14);
    }
}

.header--strong {
    font-weight: 800;
}

[class*="paragraph"] {
    color: $midnight;
}

.paragraph--md {
    font-size: rem-calc(22);
    line-height: 1.3;

    @media screen and (max-width: rem-calc(540)) {
        font-size: rem-calc(18);
    }

}
